<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Se a requisição for para um arquivo ou pasta real que exista (como os assets), abre direto
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, direciona silenciosamente para o index.php da raiz processar no MVC
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
