<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Define a base como a raiz (essencial para servidores online)
    RewriteBase /

    # Se o arquivo ou pasta requisitada fisicamente não existir, joga pro index.php (Roteador)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
